{% import "./macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

<figure class="graphic graphic-b-1 graphic-pad-1">
  <img alt="" src="http://ft-ig-content-prod.s3-website-eu-west-1.amazonaws.com/v2/ft-interactive/germany-2017-polltracker/master/germany-2017-latest-medium.svg"></img>
</figure>

The FT’s time-weighted average of seven pollsters’ latest polls of voting intention suggests that Ms Merkels’s Christian Democratic Union and its Bavarian sister party, the Christian Social Union, should comfortably remain the largest party.

But under Germany’s proporitional representation system, this is unlikely to translate into a majority of seats in the new parliament, so how the other parties perform will determine the coalition that forms the next German government.


{# START MID AD SLOT
    You can move this wherever it works best in your page's design.
    For more control over the size, write your own o-ads div - see
    https://financial-times.github.io/o-ads/docs/developer-guide/display #}
{% if flags.ads %}{{ macros.middleAd() }}{% endif %}
{# END MID AD SLOT #}

On the other hand, it is not concerned with fake simplicity and
the attempt to make written English colloquial. Nor does it even imply in every
case preferring the Saxon word to the Latin one, though it does imply using the fewest and shortest words that will cover one's meaning. What is above all
needed is to let the meaning choose the word, and not the other way around. In prose, the worst thing one can do with words is surrender to them. When you think of a concrete object, you think wordlessly, and then, if you want to
describe the thing you have been visualizing you probably hunt about until you
find the exact words that seem to fit it. When you think of something abstract
you are more inclined to use words from the start, and unless you make a
conscious effort to prevent it, the existing dialect will come rushing in and
do the job for you, at the expense of blurring or even changing your meaning.
Probably it is better to put off using words as long as possible and get one's
meaning as clear as one can through pictures and sensations. Afterward one can choose -- not simply _accept_ -- the phrases that will best cover the
meaning, and then switch round and decide what impressions one's words are
likely to make on another person. This last effort of the mind cuts out all
stale or mixed images, all prefabricated phrases, needless repetitions, and
humbug and vagueness generally. But one can often be in doubt about the effect of a word or a phrase, and one needs rules that one
can rely on when instinct fails. I think the following rules will cover most cases:

1. Never use a metaphor, simile, or other figure of speech which you are used to seeing in print.
2. Never use a long word where a short one will do.
3. If it is possible to cut a word out, always cut it out.
4. Never use the passive where you can use the active.
5. Never use a foreign phrase, a scientific word, or a jargon word if you can think of an everyday English equivalent.
6. Break any of these rules sooner than say anything outright barbarous.

These rules sound elementary, and so they are, but they demand a deep change
of attitude in anyone who has grown used to writing in the style now
fashionable. One could keep all of them and still write bad English, but one
could not write the kind of stuff that I quoted in those five specimens at the
beginning of this article.

I have not here been considering the literary use of language, but merely
language as an instrument for expressing and not for concealing or preventing
thought. Stuart Chase and others have come near to claiming that all abstract
words are meaningless, and have used this as a pretext for advocating a kind of
political quietism. Since you don't know what Fascism is, how can you struggle
against Fascism? One need not swallow such absurdities as this, but one ought
to recognize that the present political chaos is connected with the decay of
language, and that one can probably bring about some improvement by starting at
the verbal end. If you simplify your English, you are freed from the worst
follies of orthodoxy. You cannot speak any of the necessary dialects, and when
you make a stupid remark its stupidity will be obvious, even to yourself.
Political language -- and with variations this is true of all political
parties, from Conservatives to Anarchists -- is designed to make lies sound
truthful and murder respectable, and to give an appearance of solidity to pure
wind. One cannot change this all in a moment, but one can at least change one's
own habits, and from time to time one can even, if one jeers loudly enough,
send some worn-out and useless phrase -- some _jackboot, Achilles' heel,
hotbed, melting pot, acid test, veritable inferno_, or other lump of verbal
refuse -- into the dustbin, where it belongs.
{% endmarkdown %}
{% endblock %}
