{% import "./macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

<div class="image-set">
	<!-- Small+ image -->
	<div data-o-grid-colspan="hide Sfull-width">
		<figure class="graphic graphic-b-1 graphic-pad-1">
		  <img alt="FT Germany poll tracker" src="http://ft-ig-content-prod.s3-website-eu-west-1.amazonaws.com/v2/ft-interactive/germany-2017-polltracker/master/germany-2017-latest-medium.svg"></img>
		</figure>
	</div>
	<!-- xSmall image -->
	<div data-o-grid-colspan="full-width Shide">
		<figure class="graphic graphic-b-1 graphic-pad-1">
		  <img alt="FT Germany poll tracker" src="http://ft-ig-content-prod.s3-website-eu-west-1.amazonaws.com/v2/ft-interactive/germany-2017-polltracker/master/germany-2017-latest-small.svg"></img>
		</figure>
	</div>
</div>

Angela Merkel is facing the [worst crisis of her career](https://www.ft.com/content/b67fe012-cdd4-11e7-9dbb-291a884dd8c6) after talks on forming a new coalition government [broke down](https://www.ft.com/content/eb93fe64-cd84-11e7-b781-794ce08b24dc), raising the [prospect of fresh elections](https://www.ft.com/content/32aef938-cdcc-11e7-9dbb-291a884dd8c6) in Germany.

The FT’s time-weighted average of [seven German pollsters’ latest polls](http://www.wahlrecht.de/umfragen/) of voting intention shows what the likely outcome would be if another election were (hypothetically) held this Sunday.

{# START MID AD SLOT
    You can move this wherever it works best in your page's design.
    For more control over the size, write your own o-ads div - see
    https://financial-times.github.io/o-ads/docs/developer-guide/display #}
{% if flags.ads %}{{ macros.middleAd() }}{% endif %}
{# END MID AD SLOT #}

## The current situation

Ms Merkel’s centre-right CDU/CSU bloc and her coalition partners in the last parliament, the centre-left Social Democrats (SPD), [both lost ground](https://www.ft.com/content/e7c7d918-a17e-11e7-b797-b61809486fe2) In September’s election. 

The election created a seven-party Bundestag for the first time since the 1950s. Only two coalitions among the parties appear possible, but both have now been ruled out. The [most likely consequence](https://www.ft.com/content/32aef938-cdcc-11e7-9dbb-291a884dd8c6) is are either the creation of Germany’s first post-war minority government — or fresh elections.

<div class="image-set">
	<!-- Small+ image -->
	<div data-o-grid-colspan="hide Sfull-width">
		<figure class="graphic graphic-b-1 graphic-pad-1">
		  <img alt="Germany Bundestag hemicycle" src="https://www.ft.com/__origami/service/image/v2/images/raw/ftcms%3Ab2f0777c-cdf7-11e7-9dbb-291a884dd8c6?source=ig"></img>
		</figure>
	</div>
	<!-- xSmall image -->
	<div data-o-grid-colspan="full-width Shide">
		<figure class="graphic graphic-b-1 graphic-pad-1">
		  <img alt="Germany Bundeestag hemicycle" src="https://www.ft.com/__origami/service/image/v2/images/raw/ftcms%3Ab441d3dc-cdf7-11e7-9dbb-291a884dd8c6?source=ig"></img>
		</figure>
	</div>
</div>


## The parties

* The centre-right <span class="party cdu"><span class="icon"></span>CDU/CSU</span> bloc is an [alliance](https://www.ft.com/content/adfeb7f8-5fff-11e7-91a7-502f7ee26895) of [Angela Merkel](https://www.ft.com/topics/people/Angela_Merkel)’s [Christian Democratic Union (CDU)](https://www.ft.com/topics/organisations/Christian_Democratic_Union_Germany) and the Bavarian [Christian Social Union (CSU)](https://www.ft.com/topics/organisations/Christian_Social_Union). In September's election, they [remained the he largest bloc](https://www.ft.com/content/c1fe5ea6-a11e-11e7-9e4f-7f5e6a7c98a2), but slumped to 33 per cent of the vote.

* The centre-left <span class="party spd"><span class="icon"></span>[Social Democrats](https://www.ft.com/stream/08c06698-c2c2-3e0d-b8e0-d3d8e0e355e1)</span> (SPD) suffered their worst post-war result in September, winning just 20.5 per cent of the vote. Led by [Martin Schulz](https://www.ft.com/content/3a426f44-e246-11e6-8405-9e5580d6e5fb?mhq5j=e1), the former president of the European Parliament, they announced they would go into opposition immediately after the vote. 

* The right-wing, populist <span class="party afd"><span class="icon"></span>[Alternative for Germany](https://www.ft.com/stream/77210aa2-bfe4-3190-b76f-1603ab1a8b16)</span> (AfD) was the big winner of September’s election, [entering the Bundestag for the first time](https://www.ft.com/content/d18213e0-a105-11e7-b797-b61809486fe2) with 12.6 per cent of the vote. The party, led by [Alice Weidel](https://www.ft.com/content/800bc828-357e-11e7-99bd-13beb0903fa3) and [Alexander Gauland](https://www.ft.com/content/45fc56ac-6c56-11e7-b9c7-15af748b60d0), has been [beset by infighting](https://www.ft.com/content/b7a90f98-2354-11e7-8691-d5f7e0cd0a16). Former leader [Frauke Petry](https://www.ft.com/stream/6167c19c-e798-3849-8594-c9dbd12fbe41) even [left the party](https://www.ft.com/content/2ce81787-fe45-3bde-8248-f0c788f90c80) immediately after winning a seat in the election.

* The free-market liberal <span class="party fdp"><span class="icon"></span>[Free Democratic party](https://www.ft.com/stream/5155b480-7d86-3d92-b364-9591051447ea)</span> (FDP) returned to the Bundestag with 10.7 per cent of the vote in September having narrowly failed to reach the 5 per cent threshold in 2013. The party, led by 38-year-old [Christian Lindner](https://www.ft.com/content/c23bc27a-3c72-11e7-ac89-b01cc67cfeec), was the junior coalition partner in Ms Merkel’s second term but [walked out on coalition talks](https://www.ft.com/content/eb93fe64-cd84-11e7-b781-794ce08b24dc) on November 19.

* The <span class="party linke"><span class="icon"></span>Left</span> (Linke) traces its origins to East Germany’s communists and leftwingers who split from the SPD. It marginally improved its result in September, offsetting losses to the AfD in eastern Germany with [gains among young, urban voters](https://www.ft.com/content/47547ee8-b8c4-11e7-8c12-5661783e5589) in the west.

* The <span class="party gruene"><span class="icon"></span>[Green](https://www.ft.com/stream/66be4f3c-4c22-3bea-91cb-85cc3f504d0b)</span> (Grüne) party gained slightly in September to 8.9 per cent of the vote. Co-chairs Katrin Göring-Eckardt and [Cem Özdemir](https://www.ft.com/stream/6eb17739-b939-38ee-8558-93ae3892b99a) appeared on the cusp of ministerial roles before the breakdown of coalition talks with the CDU and FDP.

## Possible coalitions

If new elections were held today, polling indicates these coalitions might be possible:

<div class="image-set">
	<!-- Small+ image -->
	<div data-o-grid-colspan="hide Sfull-width">
		<figure class="graphic graphic-b-1 graphic-pad-1">
  		<img alt="German elections: likelihood of potential coalitions based on seat distribution based on latest polls"
			src="https://s3-eu-west-1.amazonaws.com/ft-ig-content-prod/v2/ft-interactive/germany-2017-seatcalculator/master/coalition-stackedchart-medium-latest.svg">
			</img>
		</figure>
	</div>
	<!-- xSmall image -->
	<div data-o-grid-colspan="full-width Shide">
		<figure class="graphic graphic-b-1 graphic-pad-1">
  		<img alt="German elections: likelihood of potential coalitions based on seat distribution based on latest polls"
			src="https://s3-eu-west-1.amazonaws.com/ft-ig-content-prod/v2/ft-interactive/germany-2017-seatcalculator/master/coalition-stackedchart-small-latest.svg">
			</img>
		</figure>
	</div>
</div>

German coalitions are often [described in terms of the party colours](https://www.ft.com/content/d2b70866-042d-11e3-8aab-00144feab7de) of the participating parties. Unless there is a new election, there are three possiblities:

* **Grand Coalition**: Alliances of the centre-right <span class="party cdu"><span class="icon"></span>CDU/CSU</span> and centre-left <span class="party spd"><span class="icon"></span>SPD</span>, like the current government, have become more common in German politics as fragmentation has made it difficult for either major party to govern with just one of the smaller parties. However, the SPD ruled out a new “GroKo” following the both parties’ disasterous showing in September’s election.

* **‘Jamaica’**: A three-way coalition with the colours of the Jamaican flag — <span class="party cdu"><span class="icon"></span>CDU/CSU</span>, <span class="party fdp"><span class="icon"></span>FDP</span> and <span class="party gruene"><span class="icon"></span>Greens</span> — has formed state governments, but it would be a novelty at the federal level. Talks to form a Jamaica pact [broke down](https://www.ft.com/content/eb93fe64-cd84-11e7-b781-794ce08b24dc) on November 19. Could the FDP be persuaded to come back to the negotiating table?

* A **minority government**: Post-war Germany has had minority governments only very briefly, so this would be a novelty. It would most likely be likely be “Black-Green” featuring <span class="party cdu"><span class="icon"></span>CDU/CSU</span> and the <span class="party gruene"><span class="icon"></span>Greens</span>. A “Black-Yellow” variety featuring the <span class="party fdp"><span class="icon"></span>FDP</span> would be a repeat of Ms Merkel’s second term from 2009 to 2013.

<!--
* ****: A coalition between  and the <span class="party gruene"><span class="icon"></span>Green</span> party governs two of Germany’s states but has never led the federal government.

* **Black-Yellow**: The <span class="party cdu"><span class="icon"></span>CDU/CSU</span> bloc would probably prefer a partnership with a smaller party. The free-market <span class="party fdp"><span class="icon"></span>FDP</span> would likely be its preferred ally; this and would be a repeat of Ms Merkel’s second term from 2009 to 2013.

-->

<!-- Though unlikely in the current impasse, several minority coalitions led by the Social Democrats are arithmetically possible:

* **‘Traffic light’**: A red-amber-green coalition of <span class="party spd"><span class="icon"></span>SPD</span>, <span class="party fdp"><span class="icon"></span>FDP</span> and <span class="party gruene"><span class="icon"></span>Greens</span> currently runs the state government in Rhineland-Palatinate, but would be a novelty at the federal level.

* **Red-Red-Green**: A leftwing government <span class="party spd"><span class="icon"></span>SPD</span> and backed by the <span class="party linke"><span class="icon"></span>Left</span> and <span class="party gruene"><span class="icon"></span>Greens</span> is one of only two scenarios that could end Ms Merkel’s continued chancellorship.-->


<!-- ## How the German voting system works

In Germany’s “[mixed-member proportional](https://www.bundestag.de/en/parliament/elections/electionresults/election_mp/245694)” system, voters make two marks on their ballots: one for a consituency MP and one for a party list.

In the Bundestag, 299 of the seats are reserved for constituency MPs elected on a first-past-the-post basis. The remainder of the MPs come from party lists, allocated to closely approximate the distribution of the party vote in each of Germany’s 16 federal states after taking into account the directly-elected MPs. At least another 299 MPs gain their seats this way, although the number can be much higher. The outgoing parliament, for example, had 631 seats, while the newly elected chamber [ballooned to 709 seats]().

A further complication is that a party must win at least 5 per cent of the national vote — or win three constituencies — to be included in the seat allocation process.

This complex process results in a seat distribution that is very close to the proportions of the national popular vote won by the included parties.


<div class="image-set">
	<!-- Small+ image 
	<div data-o-grid-colspan="hide Sfull-width">
		<figure class="graphic graphic-b-1 graphic-pad-1">
  		<img alt="German elections estimated seat distribution based on latest polls"
			src="https://s3-eu-west-1.amazonaws.com/ft-ig-content-prod/v2/ft-interactive/germany-2017-seatcalculator/master/seat-barchart-medium-latest.svg">
			</img>
		</figure>
	</div>
	<!-- xSmall image 
	<div data-o-grid-colspan="full-width Shide">
		<figure class="graphic graphic-b-1 graphic-pad-1">
  		<img alt="German elections estimated seat distribution based on latest polls"
			src="https://s3-eu-west-1.amazonaws.com/ft-ig-content-prod/v2/ft-interactive/germany-2017-seatcalculator/master/seat-barchart-small-latest.svg">
			</img>
		</figure>
	</div>
</div>
-->

## Methodology

At each point in time, the FT poll-of-polls includes the most recent voting-intention poll from seven pollsters, compiled by [Wahlrecht.de](http://www.wahlrecht.de/umfragen/). The average of their results is weighted to give more recent polls greater influence on the net score.

{% endmarkdown %}
{% endblock %}
